# Dependencies
/node_modules

# Next.js build output
/.next
/out
/dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Env files
.env.local
.env.*.local
.env
